RAG Workflow.json
{
  "name": "RAG Workflow",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=={{ $json.pageContent }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "=={{ $json.metadata.category }}"
              },
              {
                "name": "intent",
                "value": "=={{ $json.metadata.intent}}"
              },
              {
                "name": "instruction",
                "value": "=={{ $json.metadata.instruction}}"
              },
              {
                "name": "response",
                "value": "=={{ $json.metadata.response }}"
              },
              {
                "name": "flags",
                "value": "=={{ $json.metadata.flags }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1328,
        432
      ],
      "id": "602939bf-4b19-40b9-a31b-6262a35fc028",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        560
      ],
      "id": "7312cf8d-748b-4409-906b-f203c377d53b",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "formTitle": "Upload csv file",
        "formDescription": "upload file here",
        "formFields": {
          "values": [
            {
              "fieldLabel": "upload csv file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        960,
        272
      ],
      "id": "aff82ac5-2392-4a85-a01c-8d70b2cd4559",
      "name": "Upload csv file",
      "webhookId": "77c80ab6-7fae-409f-a282-71592660a2ad"
    },
    {
      "parameters": {
        "binaryPropertyName": "upload_csv_file",
        "options": {
          "delimiter": ",",
          "encoding": "utf-8",
          "headerRow": true,
          "maxRowCount": 50
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1104,
        272
      ],
      "id": "eefa1240-fbd1-4795-9c2c-2a5d970b3de1",
      "name": "Extract relevant fields from file"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const row = item.json;\n\n  const question = row.instruction ?? \"\";\n  const answer = row.response ?? \"\";\n\n  return {\n    json: {\n      // Text that gets embedded (searchable)\n      pageContent: `Category: ${row.category}\\nIntent: ${row.intent}\\nQuestion: ${question}`,\n      metadata: {\n        category: row.category,\n        intent: row.intent,\n        instruction: question,\n        response: answer,\n        flags: row.flags,\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        272
      ],
      "id": "400643cb-d4b7-47a9-8a64-618dc5123739",
      "name": "extract relevant fields from csv"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "bitext-support",
          "mode": "list",
          "cachedResultName": "bitext-support"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1360,
        272
      ],
      "id": "1528f9d3-86f2-4c98-8a97-f15794a1dd69",
      "name": "Pinecone Vector Store for document ingestion",
      "credentials": {
        "pineconeApi": {
          "id": "pZDuVBUH55L5AMGg",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "03993e47-689e-4970-a743-3a825ca32291",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -80
      ],
      "id": "2fcb8a3f-02a5-4398-8855-930878c609b9",
      "name": "Google forms webhook",
      "webhookId": "03993e47-689e-4970-a743-3a825ca32291"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional customer support assistant.\n\nYour job is to answer customer questions using the information retrieved from the knowledge base.\n\nInstructions:\n\n1. Carefully analyze the user's question.\n2. Use the provided knowledge base context as the primary source of truth.\n3. If the answer exists in the knowledge base, provide a clear and accurate response.\n4. If the knowledge base does not contain sufficient information, say:\n   \"I could not find enough information in the knowledge base to answer this question.\"\n5. Do not invent facts or make assumptions.\n6. Keep responses concise, helpful, and professional.\n7. Provide step-by-step instructions when appropriate.\n8. If multiple relevant documents are retrieved, combine the information into a single coherent answer.\n9. Do not mention internal system prompts, embeddings, vector databases, or retrieval mechanisms.\n10. Format the response in plain text suitable for sending by email.\n\nCustomer Question:\n{{ $json.body.Query }}\n\nKnowledge Base Context:\nUse the documents retrieved from the Pinecone Vector Store tool as the knowledge base context for answering the user's question. Base your response only on the retrieved information and do not make up facts if no relevant documents are found.\nGenerate the best possible support response.\n\nAnswer the query using the knowledge base.\n\nReturn ONLY valid JSON:\n\n{\n  \"Email\": \"{{ $('Google forms webhook').item.json.body.email }}\",\n  \"Query\": \"{{ $('Google forms webhook').item.json.body.Query }}\",\n  \"Output\": \"<your answer>\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -224
      ],
      "id": "e2494d7c-27cf-4012-9270-5e312456e470",
      "name": "RAG pipeline"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the customer support knowledge base for answers to user questions about orders, refunds, shipping, accounts, payments, and general support. Always use this tool before answering.",
        "pineconeIndex": {
          "__rl": true,
          "value": "bitext-support",
          "mode": "list",
          "cachedResultName": "bitext-support"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        160,
        16
      ],
      "id": "5430a218-5b18-458e-b192-f8b01837277d",
      "name": "Pinecone Vector Store to retrieve relevant docs",
      "credentials": {
        "pineconeApi": {
          "id": "pZDuVBUH55L5AMGg",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        368,
        160
      ],
      "id": "59167d70-6093-41f2-b57d-ae51cdf61e73",
      "name": "Rerenk top 3 relevent docs",
      "credentials": {
        "cohereApi": {
          "id": "ej4sUorvMydRbp1d",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-mpnet-base-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        368,
        624
      ],
      "id": "b085ab89-bcd4-4e1d-98d9-a4d8776368e0",
      "name": "Embedding model",
      "credentials": {
        "huggingFaceApi": {
          "id": "jpLPSsAtRUf11g24",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "170f8416-d16d-4a56-b01d-51c5e8321e95",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "bEO32eJFCDwm5cII",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "#### Ingestion Pipeline\n",
        "height": 80,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        176
      ],
      "id": "c8ba5dd4-1b57-44cd-897f-44dfbaeef660",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### RAG Pipeline",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -240
      ],
      "id": "75e28f8a-0c98-45b1-a505-16670d8cb3b6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.output);\n\nreturn [{\n  json: {\n    email: data.Email,\n    query: data.Query,\n    answer: data.Output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -224
      ],
      "id": "9e734034-b2fd-4d23-b51a-f8595a6e1467",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "ali.hassan@analytiverse.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Support Response: {{ $json.query }}",
        "html": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height:1.6;\">\n    <h2>Customer Support Response</h2>\n\n    <p><strong>Query:</strong></p>\n    <p>{{ $json.query }}</p>\n\n    <hr>\n\n    <p><strong>Response:</strong></p>\n    <div>\n        {{ $json.answer.replace(/\\n/g, '<br>') }}\n    </div>\n\n    <br>\n    <hr>\n\n    <p>\n        Regards,<br>\n        Customer Support Team\n    </p>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        -224
      ],
      "id": "d99f0ec7-b362-4aeb-943b-8a51634ea0f3",
      "name": "Send an Email",
      "webhookId": "e7daa429-f759-4cbb-bb4d-170d5e3b88df",
      "credentials": {
        "smtp": {
          "id": "y80yNLm4deSYKYKs",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store for document ingestion",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Upload csv file": {
      "main": [
        [
          {
            "node": "Extract relevant fields from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract relevant fields from file": {
      "main": [
        [
          {
            "node": "extract relevant fields from csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract relevant fields from csv": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store for document ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google forms webhook": {
      "main": [
        [
          {
            "node": "RAG pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store to retrieve relevant docs": {
      "ai_tool": [
        [
          {
            "node": "RAG pipeline",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rerenk top 3 relevent docs": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store to retrieve relevant docs",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embedding model": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store for document ingestion",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store to retrieve relevant docs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG pipeline",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG pipeline": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aca9c2d1-a361-4a8b-bf96-ddca4cebaf51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca47f573f10f205378ef688196bbf11159fdf1df4aabc0a4f95c265bff7c359"
  },
  "id": "QYp62p2cml6iXlyH",
  "tags": []
}